---
import Layout from '../layouts/Layout.astro';
import BtnLink from '../components/BtnLink.astro';

import cityIcon from '../assets/svg/city.svg';
import userIcon from '../assets/svg/user-tie.svg';

const LINKS = [
	{
		href: '/particuliers',
		title: 'Particuliers',
		icon: cityIcon,
	},
	{
		href: '/entreprises',
		title: 'Entreprises',
		icon: userIcon,
	},
];
---

<Layout>
	<div
		class='flex w-full w-64 flex-col justify-center gap-8 pt-8 md:flex-row md:gap-32'>
		{
			LINKS.map((link) => (
				<BtnLink href={link.href} title={link.title} icon={link.icon} />
			))
		}
	</div>
</Layout>
<style></style>
