---
import Layout from '../layouts/Layout.astro';
import BtnLink from '../components/BtnLink.astro';

import cityIcon from '../assets/svg/city.svg';
import userIcon from '../assets/svg/user-tie.svg';

const LINKS = [
	{
		href: '/particuliers',
		title: 'Particuliers',
		icon: cityIcon,
	},
	{
		href: '/entreprises',
		title: 'Entreprises',
		icon: userIcon,
	},
];
---

<Layout title='Welcome to Astro.'>
	<main
		class='mx-auto mt-8 flex w-64 flex-col justify-between gap-4 md:flex-row md:gap-16'>
		{
			LINKS.map((link) => (
				<BtnLink href={link.href} title={link.title} icon={link.icon} />
			))
		}
	</main>

	<style></style>
</Layout>
