---
---

<header class='min-h-screen h-screen bg-hero_pattern bg-cover text-white'>
	<div class='mx-auto flex h-full max-w-6xl flex-col'>
		<slot name="navbar"/>
		<div class='flex grow'>
			<slot name="content"/>
		</div>
	</div>
</header>
